@page "/"
<div id="welcome">
    <h1>Welcome!</h1>
    <AuthorizeView>
        <NotAuthorized>
           <p>Log in for further functionality.</p> 
        </NotAuthorized>
    </AuthorizeView>
</div>

