@page "/TopSecret"
@attribute [Authorize(Policy = "SecurityLevel4")]

<img src="css/blazor.jpg"/>
<br/>
<a href="https://twitter.com/overflow_meme/status/1395939037450489860">Source</a>

@code {
    
}