@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding: 1.1rem 0 0 30px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: #A6583C;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

a {
    color: #04050D !important;
}

a:hover {
    font-weight: bold;
}

.login_logout{
    width: 36px; 
    margin-right: 30px;
}

.remove_margin{
    margin: 0 10px;
    padding: 10px;
}

#welcome{
    margin: 20px 0 0 20px;
}
#welcome h1{
    font-size: 5em;
}

.table_content{
    transition-duration: 0.2s;
}

.table_content:nth-child(even):hover {
    background: #F2DEA0
}

.table_content:nth-child(odd):hover {
    background: #F29877
}

h1 {
    font-weight: bold;
    margin-bottom: 1em;
}

/*taken from https://codepen.io/fidalgodev/pen/bOGaVy*/
.form__label {
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

/*taken from https://codepen.io/fidalgodev/pen/bOGaVy*/
.form__input {
    color: #333;
    padding: 4px 0 4px 10px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    transition: all 0.3s;
}

/*taken from https://codepen.io/fidalgodev/pen/bOGaVy*/
.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    align-content: center;
}

.grid .actions{
    grid-column-start: 2;
    grid-row-start: 5;
}

/*
.grid_child{
    display: flex;
    justify-content: center;
    align-items: center;
}